@media (min-width: 1200px) {
    @font-face {
        font-family: PingFang-SC-Medium;
        src: url(PingFang-SC-Medium.ttf);
    }

    * {
        box-sizing: border-box;
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */
        scrollbar-width: none;
        /* Firefox */
    }

    *::-webkit-scrollbar {
        display: none;
    }

    html,
    body {
        margin: 0;
        font-family: PingFangSC-Medium;
        min-width: 1920px;
    }

    p {
        margin: 0;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
        max-height: 80px;
    }

    .buttons {
        display: flex;
        margin-right: 49px;
        min-width: 650px;
        justify-content: space-evenly;
    }

    .content {
        max-width: 1200px;
        margin: auto;
    }

    .button {
        width: 230px;
        height: 60px;
        background-image: url('images/wallet-1.png');
    }

    .button-li {
        margin-left: 10px;
    }

    li {
        list-style-type: none;
        margin-bottom: 28px;
    }

    .button-text {
        font-size: 24px;
        color: #333333;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
        font-weight: 600;
        padding-top: 18px;
    }

    .sold-out {
        color: #999999;
    }

    .wallet-and-mint {
        padding-left: 349px;
        padding-top: 52px;
        display: flex;
    }

    .button-mint {
        padding-left: 558px;
    }

    p {
        margin: 0px;
        padding: 0px;
    }

    .text {
        font-size: 24px;
        color: #000000;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px;
        font-weight: 500;
        margin-top: 21px;
        margin-left: 0px;
    }

    .line {
        padding-left: 1075px;
    }

    .slogan {
        padding-left: 248px;
        margin-top: 10px;
    }

    .front {
        background-image: url('images/front-bg.png');
        width: 1920px;
        height: 512px;
        margin-top: 0;
    }

    .icon {
        margin-left: 50px;
        margin-top: 20px;
    }

    .mint {
        height: 466px;
        width: 1920px;
        background-color: #7FAAFF;
        border: 2px solid black;
    }

    .gallery {
        height: 570px;
        background-color: #A400FF;
    }

    .gallery-icon {
        margin-top: 52px;
    }

    .pictures {
        display: flex;
    }

    .footer {
        height: 264px;
        background-color: #333333;
    }

    .footer-icon {
        margin-top: 50px;
    }

    .footer-intro {
        font-family: Poppins-Regular;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 12px;
        font-weight: 400;
        margin-top: 20px;
    }

    .footer-links {
        display: flex;
        margin-top: 20px;
    }

    .link-icon {
        border: 1px solid #A400FF;
        width: 40px;
        height: 40px;
        padding: 10px 10px 10px 10px;
        margin-right: 10px;
    }

    .right-reserved {
        font-size: 12px;
        margin-top: 34px;
        color: #FFDF38;
        letter-spacing: 0;
        line-height: 12px;
        font-weight: 400;
    }
}

p {
    color: #FFDF38;
}